.form-contact {
  height: auto;
  width: auto;
  justify-content: flex-end !important;
  margin: 0px !important;
  flex-direction: column;
}
.container-data {
  display: flex;
  flex-direction: row;
  height: auto;
}
.container-data2 {
  display: flex;
  flex-direction: column;
}
.contact_in-row {
  display: flex;
  flex-direction: row;
}
.contact_in-col {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 50%;
}
label {
  width: auto;
  color: #777777;
  padding-left: 10px;
  font-weight: 600;
  font-size: 13px;
}
.input_mail {
  background-color: #f2f2f2;
  width: auto;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #777777;
  box-shadow: inset 0px 0px 3px #ccc;
  margin: 10px 0px;
}
.emails {
  width: auto;
}
.btn-submit {
  background-color: #01c1cf;
  width: auto;
  height: 30px;
  padding: 20px;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 600;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.input {
  background-color: #f2f2f2;
  width: 200px;
  height: 30px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #777777;
  box-shadow: inset 0px 0px 3px #ccc;
  margin: 10px 0px;
}

.lastname {
  margin: 10px 0px 10px 10px;
}

textarea {
  background-color: #f2f2f2;
  width: 440px;
  height: 100px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: #777777;
  box-shadow: inset 0px 0px 3px #ccc;
  margin: 10px;
}

.textarea-contact {
  margin: 10px 0px;
}

.requiered-lastname{
  margin: 0px 0px 0px 0px !important;
}

.required :last-child {
  color: red;
}

.requiered-lastname :last-child {
  color: red;
}


