* {
  margin: 0px;
  font-family: "Open Sans";
}

/*Congrats*/
.congrats {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 120px);
}
.congrats_title {
  color: #01c1cf;
}

/*Globals*/
p {
  color: #777777;
}
.subtitle {
  color: #48bbd7;
  font-size: 20px;
  margin: 0px 0px 20px 0px;
  font-weight: 500;
}

.subtitle2 {
  color: #48bbd7;
  font-size: 26px;
  margin: 0px 0px 20px 0px;
  font-weight: 700;
}

.in-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.in-col {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.center {
  align-content: center;
  justify-content: space-evenly;
  width: 80%;
  margin: 60px auto;
}
.text-gray {
  color: #777777;
}
.text-white {
  color: white;
}
.btn-blue {
  width: 170px;
  height: 45px;
  background-color: #01c1cf;
  border: none;
  color: white;
  font-weight: 600;
  padding: 0px 10px;
  margin: 30px 0px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-blue-disabled {
  width: 170px;
  height: 45px;
  background-color: #ccc;
  border: none;
  color: white;
  font-weight: 600;
  padding: 0px 10px;
  margin: 30px 0px;
  border-radius: 4px;
  cursor: normal;
}
.data-link {
  width: fit-content;
  padding: 0px;
}

/*Home*/
.texts-left {
  width: 800px;
  padding: 0px;
  text-align: justify;
  font-weight: 300;
}
.texts {
  width: 500px;
  padding: 0px;
  align-self: flex-start;
  text-align: justify;
  font-weight: 300;
}
.texts-rigth {
  width: 500px;
  align-self: flex-start;
  text-align: justify;
  font-weight: 300;
}

.img-background {
  align-self: flex-start;
}
.img-car {
  align-self: flex-end;
}

.paragraph_right {
  color: #777777;
  font-size: 18px;
  width: 500px;
  text-align: right;
}
.img-yellow {
  width: 400px;
  height: auto;
}
.img-background {
  width: 400px;
  height: auto;
}
.background {
  position: absolute;
  top: 60px;
  right: 0;
  width: 15%;
  height: auto;
}
.content-one {
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 60px auto;
  width: 80%;
}
.content-one_text {
  width: 580px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}
.content-three {
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 60px auto;
  width: 80%;
}
.content-four {
  justify-content: space-evenly;
  align-content: flex-start;
  margin: 60px auto;
  width: 80%;
}
/*service*/
.service {
  width: 100%;
  height: calc(100vh - 202px);
  display: flex;
  padding-top: 60px;
}
.service-subtitle {
  color: #48bbd7;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.service_left {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 50%;
}
.img-car_service {
  align-self: center;
}
.service_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 50%;
}
.type-transport {
  height: auto;
  justify-content: flex-start;
  align-content: center;
  margin: 10px 0px;
}
.transport_type_p {
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  margin: auto 0px;
}
.type-transport_text {
  color: black;
  font-weight: 900;
}
.select {
  background-color: transparent;
  width: 200px;
  height: 40px;
  margin: 0px 15px;
  border-radius: 1px !important;
  border-color: #ccc !important;
  color: #777777 !important;
  padding: 0px 5px;
}
.btn-clean {
  background-color: white;
  border: none;
  color: #01c1cf;
  text-align: center;
  cursor: pointer;
}
.service_paragraph {
  width: 500px;
  height: auto;
  margin: 15px 0px;
}
.price {
  color: #78a465;
  font-weight: 500;
}
.car-blue {
  height: 320px;
}
.type-service {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 25px;
}
.type-service > p {
  margin: auto 0px;
}

/*Data*/
.data {
  width: 100%;
  height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: justify;
  justify-content: flex-start;
  text-align: center;
}
.data_title {
  color: #48bbd7;
  font-size: 30px;
  margin: 30px 0px 10px 0px;
  font-weight: 700;
}
.data_texts {
  font-size: 20px;
  font-weight: 400;
  color: #777777;
}
.text_price {
  color: #78a465;
  font-size: 20px;
  font-weight: 500;
}
/*contact*/
.contact {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  height: calc(100vh - 142px);
  padding: 0px;
  margin: 0 auto;
}
.contact-titles {
  align-self: flex-start;
  padding: 40px;
}
.contact-subtitle {
  font-size: 30px;
  color: #48bbd7;
  font-weight: 700;
}

.contact-form {
  padding: 40px;
  align-self: flex-start;
}

.contact-text {
  color: rgb(118, 116, 116);
  margin: 20px 0px;
}

/*work*/
.work {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row;
  height: auto;
  padding: 0px;
  margin: 0 auto;
}
.work_subtitle {
  font-weight: 700;
}
.root-work {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.work_texts {
  font-weight: 400;
  color: gray;
  font-family: initial;
  font-size: 20px;
  height: auto;
  padding: 40px;
}
.word_texts_p {
  font-size: 16px;
  width: 70%;
}
.work_subtitle {
  color: #48bbd7;
  font-size: 30px;
  margin: 0px 0px 20px 0px;
  font-weight: 700;
}

.work_form {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  padding: 40px;
}

.form-work{
  height: auto;
  width: 100%;
  justify-content: flex-start !important;
  margin: 0px !important;
  flex-direction: column;
}

@media screen and (max-width: 1200px) {
.form-work{
  height: auto !important;
  width: 100% !important;
  margin: 0px !important;
  flex-direction: column !important;
  align-items: flex-start !important;
}
}

/* media query*/
@media screen and (max-width: 1560px) {
  .texts-left {
    padding-left: 20px;
  }
  .root-work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .work {
    width: 60%;
  }
  .work_texts {
    padding-left: 0px;
  }
  .data {
    height: calc(100vh - 30px);
  }
}

@media screen and (max-width: 1210px) {
  form {
    width: 60% !important;
    margin-top: 20px;
  }
  .input_mail {
    width: 100% !important;
  }
  .texts-left {
    padding-left: 70px;
  }
}

@media screen and (max-width: 1100px) {
  .service {
    width: 100%;
  }
  .service_right {
    width: 80%;
  }
  .service_paragraph {
    width: auto;
  }
  .service-subtitle {
    font-size: 30px;
  }
  .img-background {
    display: none;
  }
  .root-work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .work {
    width: 80%;
  }
  .work_texts {
    padding-left: 0px;
  }
}

@media screen and (max-width: 900px) {
  .service {
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .service_right {
    margin-top: 40px;
  }
  form {
    width: 80% !important;
  }
  .texts-left {
    margin: 0px;
    padding-left: 30px !important;
  }
  .img-draw {
    width: 400px;
    height: auto;
  }
  .img-yellow {
    width: 300px;
  }
  .texts {
    padding-right: 0px;
    padding: 0px;
    margin: 0px;
  }
  .paragraph_right {
    text-align: start;
  }
  .work_form {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 760px) {
  .contact {
    padding: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 182px);
  }
  .contact-titles {
    padding: 0px;
    justify-content: center;
    text-align: left;
    width: 100%;
    height: auto;
    margin-left: 10px;
  }
  .contact-form {
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textarea-service {
    width: 100%;
  }
  .menu {
    width: 70px;
    display: flex;
    padding: 5px;
    color: #40a7c0;
    justify-content: center;
  }
  .navbar_link {
    display: none;
  }
  .contact-titles {
    margin-top: 30px !important;
  }
  .texts {
    padding: 30px;
  }
  .texts-rigth {
    padding-right: 20px;
    margin-left: 0px;
  }
  .img-draw {
    width: 300px;
    height: auto;
  }
  .work {
    flex-direction: column;
    justify-content: center;
  }
  .work_texts {
    width: 400px;
    padding-left: 40px;
    font-size: 14px;
    align-self: center;
    margin: 15px 0px;
  }
  .work_form {
    width: initial;
    padding-left: 0px;
    justify-content: flex-start;
  }
  .form-work {
    flex-direction: column;
    width: 100%;
    padding-left: 0px;
  }

  .questions-work {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .service {
    padding-top: 0px;
  }
  .service_left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .questions-work_option {
    padding-left: 40px !important;
  }
}

@media screen and (max-width: 700px) {
  .root-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .form-work {
    padding-left: 0px;
  }
  .work_form {
    align-self: center;
  }
  .work_texts {
    padding-left: 0px;
    align-self: center;
  }
  .work {
    width: 75%;
  }

  .form-work {
    padding-left: 0px;
    margin-left: 0px;
  }
  .work_texts {
    margin-left: 0px;
    padding-left: 10px;
    font-size: 12px;
  }
  .root-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .congrats_title {
    font-size: 24px;
  }
}

@media screen and (max-width: 651px) {
  .form-work {
    padding-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .car-blue {
    height: 300px;
    width: auto;
  }
  .service_left {
    height: auto;
  }
  form {
    width: 100% !important;
  }
  .contact-text {
    margin: 20px 0px;
  }
  .work {
    justify-content: center;
  }
  .work_texts {
    width: 400px;
    padding-left: 0px;
    font-size: 14px;
    margin-left: 0px;
  }
  .form-work {
    padding-left: 0px;
    margin-left: 0px;
  }
  .work_texts {
    width: 330px;
  }
  .contact-form {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 430px) {
  .contact {
    height: auto !important;
  }
}

@media screen and (max-width: 500px) {
  .contact {
    height: calc(100vh - 182px);
  }
  .contact-form {
    width: 100%;
  }

  .input {
    width: 100% !important;
    margin: 10px 0px;
  }
  .input_mail {
    width: 100% !important;
    margin: 10px 0px;
  }
  .btn-submit {
    width: 60%;
  }
  .container-data {
    flex-direction: column;
    width: 100%;
  }
  .container-data2 {
    width: 100%;
  }
  .textarea-service {
    width: 100%;
  }
  .textarea-contact {
    width: 100% !important;
  }
  .img-yellow {
    width: 200px;
    height: auto;
  }
  .subtitle {
    text-align: left;
  }
  .subtitle2 {
    text-align: left;
  }
  .texts {
    width: auto !important;
  }
  .home {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    text-align: center;
  }
  .texts-left {
    width: auto;
    padding: 20px;
  }
  .texts-rigth {
    padding: 20px;
    width: auto;
  }
  .paragraph_right {
    text-align: left;
  }
  .img-car-blue {
    display: flex !important;
  }
  .content-one {
    display: flex;
    flex-direction: column !important;
  }
  .content-two {
    flex-direction: column-reverse !important;
  }
  .content-three {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .content-four {
    display: flex !important;
    flex-direction: column !important;
    align-self: center !important;
    justify-self: center !important;
  }
  .home {
    padding-top: 20px;
  }
  .content-four {
    align-items: flex-end;
  }
  .logo-willow {
    width: 150px;
  }
  .whatsapp-icon {
    width: 30px;
  }
  .form-work {
    padding-left: 0px;
    margin-left: 0px;
  }
  .work_texts {
    padding-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 12px;
  }

  .root-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work {
    width: 80%;
  }
  .congrats_title {
    width: 300px;
    font-size: 15px;
    text-align: center;
  }
  .textarea-contact {
    width: auto;
  }
  .lastname {
    margin: 10px 0px;
  }
}

@media screen and (max-width: 483px) {
  .textarea-service {
    width: 100% !important;
  }
  .data {
    height: auto;
  }
  .car-blue {
    height: 250px;
  }
  .work_form {
    align-self: center;
  }
  .form-work {
    padding-left: 0px;
    margin-left: 0px;
  }
  .work_texts {
    width: 330px;
    margin-left: 0px;
    padding-left: 0px;
    font-size: 12px;
    align-self: center;
  }
  .root-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .work {
    width: 90%;
  }
  .questions-work_option {
    width: 300px !important;
  }
  .congrats_title {
    font-size: 15px;
  }
}
@media screen and (max-width: 430px) {
  .input {
    width: 100% !important;
  }
  textarea {
    width: 100% !important;
  }
  .form-work {
    padding-left: 0px;
    margin: 0px !important;
  }
  .work_form {
    padding-left: 0px;
  }
  .textarea-work {
    width: 100% !important;
  }
}

@media screen and (max-width: 400px) {
  .congrats_title {
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  .subtitle {
    font-size: 18px;
  }
  .car-blue {
    height: 200px;
  }
  .btn-blue {
    width: 200px;
  }
  .input_mail {
    width: 100% !important;
  }
  .btn-submit {
    width: 60%;
  }
  textarea {
    width: auto;
  }
  .input {
    width: auto;
  }
  .textarea-service {
    width: 100% !important;
  }
  .img-car {
    display: block;
    align-self: center;
  }

  .img-yellow {
    width: 100px;
    height: auto;
  }
  .content-four {
    display: flex !important;
    flex-direction: column !important;
    align-self: center !important;
    justify-self: center !important;
  }
  .texts {
    width: auto !important;
    padding: 20px !important;
  }
  .home {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    text-align: center;
  }
  .texts-left {
    width: auto;
    padding: 20px !important;
    font-size: 14px;
  }
  .texts-rigth {
    padding: 20px;
    font-size: 14px;
  }
  .paragraph_right {
    text-align: left;
    font-size: 14px;
  }
  .img-car-blue {
    display: flex !important;
  }
  .content-one {
    display: flex;
    flex-direction: column !important;
  }
  .home {
    padding-top: 20px;
  }
  .content-four {
    align-items: flex-end;
  }
  .logo-willow {
    width: 150px;
    height: max-content;
  }
  .form-work {
    padding-left: 0px;
  }
  .work_texts {
    width: 300px;
    align-items: center;
    padding-right: 0px;
    padding-left: 0px;
  }
  .questions-work_option {
    width: 300px !important;
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 350px) {
  .input-work {
    width: 280px !important;
  }
  .work_form {
    padding-left: 20px;
  }
  .work_texts {
    padding-left: 0px;
  }
  .questions-work {
    margin: 0px;
  }
}
@media screen and (max-width: 342px) {
  .work_form {
    padding-left: 0px;
  }
  .textarea-work {
    width: 280px;
    padding: 0px;
  }
  .btn-submit_work {
    width: 60%;
  }
  .img-draw {
    width: 270px;
  }
  .img-yellow {
    width: 200px;
  }
}

@media screen and (max-width: 321px) {
  .car-blue {
    height: 150px;
  }
  .contact-text {
    margin: 20px 0px;
  }
  .logo-willow {
    width: 150px;
    height: auto;
  }
  .menu {
    display: flex;
    padding: 5px;
    color: #40a7c0;
  }
  .form-work {
    padding-left: 0px;
  }
  .work_form {
    padding-left: 0px;
  }
  .work_texts {
    padding-left: 0px;
  }
  .questions-work {
    margin: 0px;
  }
  .textarea-work {
    width: 280px;
    padding: 0px;
  }

  .btn-submit_work {
    width: 60%;
  }
  .questions-work_option {
    padding-left: 0px !important;
    width: 270px !important;
    margin-left: 0px;
  }
}

@media screen and (max-width: 315px) {
  .input-work {
    width: 250px !important;
  }
  .textarea-work {
    width: 250px !important;
  }
  .select-work {
    width: 250px !important;
  }
  .btn-submit_work {
    width: 60%;
  }
  .work_texts {
    width: 270px !important;
  }
}
@media screen and (max-width: 310px) {
  .input-work {
    padding: 5px;
  }
  .congrats_title {
    width: 200px;
  }
  .congrats_text {
    font-size: 12px;
  }
  .footer {
    font-size: 12px;
  }
  .container-menu > a {
    font-size: 12px;
    padding: 7px;
  }
  .link-nav {
    font-size: 10px;
  }
}
@media screen and (max-width: 280px) {
  .textarea-work {
    width: 200px !important;
  }
  .btn-submit_work {
    width: 60%;
  }
  .input-work {
    width: 2500px !important;
  }
}

.whatsapp-link {
  text-decoration: none;
}

.whatsapp-icon {
  width: 70px;
  height: auto;
  position: fixed;
  bottom: 30px;
  right: 30px;
}
