.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 60px;
  background-color: #efefef;
}

a {
  padding: 10px;
  text-decoration: none;
  color: #333333;
}

.link-nav {
  font-weight: 500;
  font-size: 13px;
}
.menu {
  display: none;
}
.navbar_link {
  display: flex;
}

.logo-willow {
  height: 40px;
}