body {
    background-color: white;
}

form {
    width: 40% !important;
    height: auto;
    color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.input-service {
    background-color: #f2f2f2;
    width: 30%;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 10px;
}

.textarea-service {
    background-color: #f2f2f2;
    width: 64%;
    height: 200px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 10px;
}

.payment-options {
    width: 100%;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    form {
        width: 80% !important;
        height: auto;
        color: grey;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }
}


@media screen and (max-width: 800px) {
.form-contact {
    justify-content: center !important;
}

form {
    width: 80% !important;
    height: auto;
    color: grey;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.input-service {
    background-color: #f2f2f2;
    width: 100%;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 10px;
}

.textarea-service {
    background-color: #f2f2f2;
    width: 100%;
    height: 100px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 10px;
}

}
.inputRadio {
    margin-left: 10px;
}