.input-work {
    background-color: #f2f2f2;
    width: 100% !important;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    margin: 10px 0px;
    box-shadow: inset 0px 0px 3px #ccc;
}
.select-work {
    background-color: #f2f2f2;
    width: 106% !important;
    height: 50px;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    margin: 10px 0px;
    box-shadow: inset 0px 0px 3px #ccc;
}
.select-work :last-child {
    width: 30px;
}
.btn-submit_work {
    background-color: #f2f2f2;
    width: 60%;
    height: 30px;
    padding: 20px;
    border: 1px solid rgb(146, 146, 146);
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777777;
    cursor: pointer;
}
.textarea-work {
    width: 100% !important;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px 0px 3px #ccc;
}
.questions-checkbox {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.questions-work_option {
    margin: 10px 0px;
    padding-left: 0px;
    width: 350px; 
    height: 100px;
}
.label-option {
    margin: 10px 0px;
    padding: 30px 0px;
}

.requiered {
    padding: 0px !important;
    font-weight: 700;
}

.label-work {
    padding: 0px !important;
}

.requiered :last-child {
    color: red;
}

.textarea-work {
    padding: 10px;
    margin: 10px 0px;
}
